<app-view>
  <div class="app-events-page">
    <app-paragraph-group>
      <app-paragraph>
        <app-title-text>Donación y recogida solidaria</app-title-text>
      </app-paragraph>
      <app-paragraph>
        <app-subtitle-text>26-27/12/2020 - Casa de Cultura - Briones (La Rioja)</app-subtitle-text>
      </app-paragraph>
      <app-two-columns-layout>
        <app-two-columns-layout-item>
          <app-paragraph>
            <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020.jpg'"></app-img>
          </app-paragraph>
        </app-two-columns-layout-item>
        <app-two-columns-layout-item> </app-two-columns-layout-item>
        <app-two-columns-layout-item>
          <app-paragraph>
            <app-carousel [itemsMaxWidth]="800" [itemsMaxHeight]="450">
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-1.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-2.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-3.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-4.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-5.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-6.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-7.jpg'"></app-img>
              </div>
            </app-carousel>
          </app-paragraph>
        </app-two-columns-layout-item>
        <app-two-columns-layout-item>
          <app-paragraph
            >Muchísimas gracias a todos los que colaboraron con la recogida de juguetes y material escolar en Briones en
            favor de la
            <app-external-link-text link="https://www.aaps.es"
              >AAPS - Asociación de Apoyo al Pueblo Sirio</app-external-link-text
            >!!!!</app-paragraph
          >
          <app-paragraph>Se pasó gente de Tirgo, Gimileo, Fuenmayor... increíble el apoyo que recibimos!</app-paragraph>
          <app-paragraph><app-encourage-text>¡mil gracias a todos!</app-encourage-text></app-paragraph>
        </app-two-columns-layout-item>
        <app-two-columns-layout-item>
          <app-paragraph>
            <app-carousel [itemsMaxWidth]="800" [itemsMaxHeight]="800">
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-8.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-9.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-10.jpg'"></app-img>
              </div>
              <div appCarouselItem>
                <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-11.jpg'"></app-img>
              </div>
            </app-carousel>
          </app-paragraph>
        </app-two-columns-layout-item>
        <app-two-columns-layout-item>
          <app-paragraph
            >El día de la recogida en Briones decidimos apartar los libros y cuentos infantiles en castellano para
            entregárselos a la gente del
            <app-external-link-text link="https://www.facebook.com/hospitalimaginario"
              >Hospital Imaginario</app-external-link-text
            >
            de Logroño y aportar nuestro pequeño grano de arena dentro del gran trabajo que realizan en el Hospital San
            Pedro.</app-paragraph
          >
        </app-two-columns-layout-item>
        <app-two-columns-layout-item>
          <app-paragraph>
            <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020-12.jpg'"></app-img>
          </app-paragraph>
        </app-two-columns-layout-item>
        <app-two-columns-layout-item>
          <app-paragraph
            >Por otro lado, los demás juguetes ya han sido recogidos por la
            <app-external-link-text link="https://www.fundacionseur.org">Fundación Seur</app-external-link-text>
            y estamos esperando noticias de la llegada a su destino.</app-paragraph
          >
        </app-two-columns-layout-item>
      </app-two-columns-layout>
      <app-paragraph><app-encourage-text>¡Muchas gracias a todos!</app-encourage-text></app-paragraph>
    </app-paragraph-group>
  </div>
</app-view>
