<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text
        >Donación y recogida de zapatillas deportivas
        <app-external-link-text link="http://losmeandrosdebriones.disfrutabriones.es/"
          >"Los Meandros de Briones"</app-external-link-text
        ></app-title-text
      >
    </app-paragraph>
    <app-paragraph>
      <app-subtitle-text>04-05/2021 - Briones, Logroño, Haro y Arnedo (La Rioja)</app-subtitle-text>
    </app-paragraph>
    <app-two-columns-layout>
      <app-two-columns-layout-item>
        <app-paragraph>
          <app-img [src]="'./assets/images/meandros-2021/meandros-2021-0.jpg'"></app-img>
        </app-paragraph>
      </app-two-columns-layout-item>
      <app-two-columns-layout-item></app-two-columns-layout-item>
      <app-two-columns-layout-item>
        <app-paragraph>
          <app-alert type="info">Finalizado</app-alert>
        </app-paragraph>
      </app-two-columns-layout-item>
      <app-two-columns-layout-item></app-two-columns-layout-item>
      <app-two-columns-layout-item>
        <app-paragraph>
          <app-carousel [itemsMaxWidth]="750" [itemsMaxHeight]="750">
            <div appCarouselItem>
              <app-img [src]="'./assets/images/meandros-2021/meandros-2021-1.jpg'"></app-img>
            </div>
            <div appCarouselItem>
              <app-img [src]="'./assets/images/meandros-2021/meandros-2021-2.jpg'"></app-img>
            </div>
            <div appCarouselItem>
              <app-img [src]="'./assets/images/meandros-2021/meandros-2021-3.jpg'"></app-img>
            </div>
          </app-carousel>
        </app-paragraph>
      </app-two-columns-layout-item>
      <app-two-columns-layout-item>
        <app-paragraph>
          Una vez terminada la recogida de
          <app-external-link-text link="http://losmeandrosdebriones.disfrutabriones.es/"
            >Los Meandros de Briones</app-external-link-text
          >
          en Logroño, Briones y Haro, hemos conseguido reunir casi 350 pares de zapatillas deportivas las cuales, junto
          con lo recogido en Arnedo, han hacia las regiones rurales del sur de Mozambique con el objetivo de colaborar
          con el orfanato
          <app-external-link-text link="https://www.facebook.com/casadogaiatomaputo/"
            >Casa do Gaiato de Maputo</app-external-link-text
          >
          y echarles un pequeño cable desde aquí.
        </app-paragraph>
        <app-paragraph>
          Muchísimas gracias a todos los que habéis colaborado con esta pequeña-gran causa y nos habéis acercado algunas
          zapas, incluidos voluntarios, simpatizantes y medios. Un agradecimiento especial se merecen nuestros
          colaboradores de <app-external-link-text link="http://www.cicloxxi.com/">Ciclo XXI</app-external-link-text>,
          <app-external-link-text link="https://maspormenos.net/">Maspormenos</app-external-link-text> y, sobretodo, la
          gente de
          <app-external-link-text link="https://fundacionmozambiquesur.org/"
            >FUNDACIÓN MOZAMBIQUE SUR</app-external-link-text
          >
          que van a ser los que vengan a por todo y gestionen el material deportivo hasta colocarlo todo por allí.
        </app-paragraph>
        <app-paragraph> <app-encourage-text>Increíble el trabajo de todos, GRACIAS</app-encourage-text> </app-paragraph>
        <app-paragraph> <app-encourage-text>¡Nos vemos en la siguiente! - NTH</app-encourage-text> </app-paragraph>
      </app-two-columns-layout-item>
    </app-two-columns-layout>
  </app-paragraph-group>
</app-view>
