<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text
        >Donación y recogida de zapatillas deportivas
        <app-external-link-text link="http://losmeandrosdebriones.disfrutabriones.es/"
          >"Los Meandros de Briones"</app-external-link-text
        ></app-title-text
      >
    </app-paragraph>
    <app-paragraph>
      <app-subtitle-text>04-05/2021 - Briones, Logroño, Haro y Arnedo (La Rioja)</app-subtitle-text>
    </app-paragraph>
    <app-two-columns-layout>
      <app-two-columns-layout-item>
        <app-paragraph>
          <app-img [src]="'./assets/images/meandros-2021/meandros-2021.jpg'"></app-img>
        </app-paragraph>
      </app-two-columns-layout-item>
      <app-two-columns-layout-item></app-two-columns-layout-item>
      <app-two-columns-layout-item>
        <app-paragraph>
          <app-alert type="info">Finalizado</app-alert>
        </app-paragraph>
      </app-two-columns-layout-item>
      <app-two-columns-layout-item></app-two-columns-layout-item>
    </app-two-columns-layout>
    <app-paragraph>
      Debido a las complicaciones (que todos conocemos) para poder realizar la carrera anual de
      <app-external-link-text link="http://losmeandrosdebriones.disfrutabriones.es/"
        >Los Meandros de Briones</app-external-link-text
      >, este año han decidido realizar su segunda edición solidaria consecutiva y les hemos echado un cable para poder
      hacer una actividad solidaria lo más similar posible a su espíritu deportivo y agradable. Es por ello que nos
      hemos decidido por una recogida solidaria de zapatillas deportivas, para que tanto los corredores (como la gente
      que no lo sea) puedan colaborar con esta iniciativa solidaria promovida por la gente de la propia carrera.
    </app-paragraph>
    <app-paragraph>
      La recogida y donación de las zapatillas deportivas tiene como finalidad el abastecer de dicho material básico a
      las regiones rurales de Boane y Namaacha en el sur de Mozambique y, de forma más específica, se colaborará con el
      orfanato
      <app-external-link-text link="https://www.facebook.com/casadogaiatomaputo/"
        >Casa do Gaiato de Maputo</app-external-link-text
      >, donde viven 152 niños.
    </app-paragraph>
    <app-paragraph>
      Todo ello es realizado en colaboración con la
      <app-external-link-text link="https://fundacionmozambiquesur.org/"
        >FUNDACIÓN MOZAMBIQUE SUR</app-external-link-text
      >, que colaboran con su contraparte local, la
      <app-external-link-text link="https://prosalus.es/es/socios/fundacao-encontro"
        >Fundação ENCONTRO</app-external-link-text
      >, los cuales serán los encargados de recoger y gestionar el material deportivo hasta hacerlos llegar hasta su
      destinatario final.
    </app-paragraph>
    <app-paragraph>
      Para la recogida nos echan un cable varios negocios particulares desde diferentes localidades, por lo que existen
      numerosas posibilidades en la entrega del calzado deportivo. Son las siguientes:
    </app-paragraph>
    <app-list-item-paragraph> Briones / Salón parroquial - 1 y 2 de Mayo / 11:30 - 13:30h </app-list-item-paragraph>
    <app-list-item-paragraph>
      Logroño / <app-external-link-text link="http://www.cicloxxi.com/">Ciclo XXI</app-external-link-text> - del 19 al
      30 de Abril / Horario laboral
    </app-list-item-paragraph>
    <app-list-item-paragraph>
      Haro /
      <app-external-link-text link="https://maspormenos.net/">Maspormenos</app-external-link-text> - del 19 al 30 de
      Abril / Horario laboral
    </app-list-item-paragraph>
    <app-list-item-paragraph>
      Arnedo /
      <app-external-link-text link="https://maspormenos.net/">Maspormenos</app-external-link-text> - del 19 al 30 de
      Abril / Horario laboral
    </app-list-item-paragraph>
    <app-paragraph> Si tenéis dudas de qué o cómo donar os lo resumimos por aquí: </app-paragraph>
    <app-list-item-paragraph>
      <app-important-text>𝗜𝗠𝗣𝗢𝗥𝗧𝗔𝗡𝗧𝗘</app-important-text>: las zapatillas deberán estar en un buen estado en general,
      sin agujeros ni desperfectos relevantes (excepto los propios de un desgaste general de uso continuado)
    </app-list-item-paragraph>
    <app-list-item-paragraph>
      Se aceptarán zapatillas deportivas de cualquier tipo (running, senderismo, fitness, urbanas…)
    </app-list-item-paragraph>
    <app-list-item-paragraph> Se aceptarán zapatillas deportivas de cualquier talla. </app-list-item-paragraph>
    <app-list-item-paragraph>
      Los pares de zapatillas deberán de estar lavadas y/o completamente limpias.
    </app-list-item-paragraph>
    <app-list-item-paragraph>
      No se aceptarán zapatos, zapatillas con tacón, chanclas, sandalias, calzado grueso de invierno ni cualquier otro
      calzado que esté fuera del catalogado como el de zapatillas deportivas.
    </app-list-item-paragraph>
    <app-paragraph>
      Muchísimas gracias a todos los que hacen posible esta iniciativa: particulares, establecimientos y gente que os
      paséis a colaborar con esta gran causa… os esperamos a todos por allí,
      <app-encourage-text>¡mil gracias!</app-encourage-text>
    </app-paragraph>
    <app-paragraph>
      <app-encourage-text> Let´s make some noise to help people - NTH </app-encourage-text>
    </app-paragraph>
  </app-paragraph-group>
</app-view>
