<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Donación y recogida de zapatillas deportivas "Los Meandros de Briones"</app-title-text>
    </app-paragraph>
    <app-paragraph>
      <app-subtitle-text>04-05/2021 - Briones, Logroño, Haro y Arnedo (La Rioja)</app-subtitle-text>
    </app-paragraph>
    <app-two-columns-layout>
      <app-two-columns-layout-item>
        <app-paragraph>
          <app-img [src]="'./assets/images/meandros-2021/meandros-2021.jpg'"></app-img>
        </app-paragraph>
      </app-two-columns-layout-item>
      <app-two-columns-layout-item> </app-two-columns-layout-item>
    </app-two-columns-layout>
  </app-paragraph-group>
</app-view>
