<app-view>
  <p>
    Para la correcta ejecución de todas las actividades necesitamos socios que colaboren con la asociación. Puedes
    apoyar esta labor por sólo <b>15€ al año</b>, con los que contribuirás económicamente para poder llevar a cabo el
    funcionamiento básico de la asociación y ayudarnos en la realización de todas las actividades así como aportar
    ideas, participar en encuentros... ¡Colabora con nosotros y anima a tu gente a que nos apoye!
  </p>
  <p>
    Si estás interesado en hacerte socio sólo tienes que descargar este
    <a href="/assets/documents/partners-form.pdf" download="Formulario socios Noise to Help.pdf"><u>formulario</u></a
    >, rellenarlo y devolvernos el mismo PDF junto con el justificante de la transferencia a la dirección de correo
    <a href="mailto:socios@noisetohelp.org"><u>socios@noisetohelp.org</u></a>
  </p>
  <p>- La transferencia debe realizarse con los siguientes datos:</p>
  <p>- Destinatario: <b>ASOCIACION NOISE TO HELP</b></p>
  <p>- Nº Cuenta IBAN: <b>ES09 0073 0100 5405 0608 6933</b> (Openbank)</p>
  <p>- Concepto: Socio (+ Nombre y Apellidos)</p>
  <p>- Cantidad: 15€</p>
  <p>
    Una vez recibida la información de la solicitud te enviaremos un email confirmando la correcta recepción de la misma
    y el resto de la información pertinente.
  </p>
  <p>
    Si con todo ello todavía te queda alguna duda puede que te la solucionamos en la sección <u>FAQ</u>, si no es así no
    dudes en enviarnos un correo a socios@noisetohelp.org y nos pondremos en contacto contigo para indicarte los
    sencillos pasos a seguir para poder hacerte socio.
  </p>
  <p><i>¡Let´s make some noise!</i></p>
</app-view>
