<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Hazte socio</app-title-text>
    </app-paragraph>
    <app-paragraph>
      Para la correcta ejecución de todas las actividades necesitamos socios que colaboren con la asociación. Puedes
      apoyar esta labor por sólo <app-important-text>15€ al año</app-important-text>, con los que contribuirás
      económicamente para poder llevar a cabo el funcionamiento básico de la asociación y ayudarnos en la realización de
      todas las actividades así como aportar ideas, participar en encuentros... ¡Colabora con nosotros y anima a tu
      gente a que nos apoye!
    </app-paragraph>
    <app-paragraph>
      Si estás interesado en hacerte socio sólo tienes que descargar este
      <app-download-link-text link="/assets/documents/partners-form.pdf" fileName="Formulario socios Noise To Help.pdf"
        >formulario</app-download-link-text
      >, rellenarlo y devolvernos el mismo PDF junto con el justificante de la transferencia a la dirección de correo
      <app-email-link-text email="socios@noisetohelp.org">socios@noisetohelp.org</app-email-link-text>.
    </app-paragraph>
    <app-paragraph>La transferencia debe realizarse con los siguientes datos:</app-paragraph>
    <app-list-item-paragraph>
      Destinatario: <app-important-text>ASOCIACION NOISE TO HELP</app-important-text>
    </app-list-item-paragraph>
    <app-list-item-paragraph>
      Nº Cuenta IBAN:<app-important-text> ES09 0073 0100 5405 0608 6933</app-important-text> (Openbank)
    </app-list-item-paragraph>
    <app-list-item-paragraph>Concepto: Socio (+ Nombre y Apellidos)</app-list-item-paragraph>
    <app-list-item-paragraph>Cantidad: 15€</app-list-item-paragraph>
    <app-paragraph>
      Una vez recibida la información de la solicitud te enviaremos un email confirmando la correcta recepción de la
      misma y el resto de la información pertinente.
    </app-paragraph>
    <app-paragraph>
      Si con todo ello todavía te queda alguna duda puede que te la solucionamos en la sección
      <app-internal-link-text link="/questions">FAQ</app-internal-link-text>, si no es así no dudes en enviarnos un
      correo a <app-email-link-text email="socios@noisetohelp.org">socios@noisetohelp.org</app-email-link-text> y nos
      pondremos en contacto contigo para indicarte los sencillos pasos a seguir para poder hacerte socio.
    </app-paragraph>
    <app-paragraph><app-encourage-text>¡Let´s make some noise!</app-encourage-text></app-paragraph>
  </app-paragraph-group>
</app-view>
