<app-view>
  <p>
    Si quieres ponerte en contacto con nosotros para consultarnos cualquier tipo de duda acerca de la asociación,
    merchandising, donaciones, organización de eventos… puedes encontrarnos en la dirección de correo:
  </p>
  <p>
    <a href="mailto:info@noisetohelp.org"><u>info@noisetohelp.org</u></a>
  </p>
  <p>También puedes contactar con nosotros mediante las siguientes redes sociales:</p>
  <p>
    <a href="https://www.facebook.com/noisetohelp" target="_blank"
      ><u><img src="assets/images/facebook-logo.png" /></u
    ></a>
  </p>
  <p>
    <a href="https://www.instagram.com/noisetohelp" target="_blank"
      ><u><img src="assets/images/instagram-logo.png" /></u
    ></a>
  </p>
  <p><i>¡Estaremos encantados de atenderte por cualquier medio!</i></p>
</app-view>
