<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Contacto</app-title-text>
    </app-paragraph>
    <app-paragraph>
      Si quieres ponerte en contacto con nosotros para consultarnos cualquier tipo de duda acerca de la asociación,
      merchandising, donaciones, organización de eventos… puedes encontrarnos en la dirección de correo:
    </app-paragraph>
    <app-paragraph>
      <app-email-link-text email="info@noisetohelp.org">info@noisetohelp.org</app-email-link-text>
    </app-paragraph>
    <app-paragraph>También puedes contactar con nosotros mediante las siguientes redes sociales:</app-paragraph>
    <app-paragraph>
      <div class="app-contact-page__social-networks">
        <div class="app-contact-page__social-network">
          <app-external-link-text link="https://www.facebook.com/noisetohelp"
            ><img src="assets/images/facebook-logo.png"
          /></app-external-link-text>
        </div>
        <div class="app-contact-page__social-network">
          <app-external-link-text link="https://www.instagram.com/noisetohelp"
            ><img src="assets/images/instagram-logo.png"
          /></app-external-link-text>
        </div>
      </div>
    </app-paragraph>
    <app-paragraph
      ><app-encourage-text>¡Estaremos encantados de atenderte por cualquier medio!</app-encourage-text></app-paragraph
    >
  </app-paragraph-group>
</app-view>
