@import '../../../assets/scss/settings/breaking-sizes.scss';
@import '../../../assets/scss/settings/colors.scss';
@import '../../../assets/scss/settings/margins.scss';

.app-navbar__link-item,
.app-navbar__title-item {
  padding-left: $horizontal-margin-s;
  padding-right: $horizontal-margin-s;
}

.app-navbar__link-item--small {
  padding-left: $horizontal-margin-xs;
  padding-right: $horizontal-margin-xs;
}

.app-navbar__title {
  display: flex;
  align-items: center;
}

.app-navbar__title-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: $horizontal-margin-s;
  display: block;
}

@media (max-width: $xs-max-size) {
  .app-navbar__title-img {
    height: 40px;
    width: 40px;
  }
}

.app-navbar__separator-item {
  width: 100%;
}

.app-navbar__toolbar--small {
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
}
