@import '../../../assets/scss/settings/breaking-sizes.scss';
@import '../../../assets/scss/settings/colors.scss';
@import '../../../assets/scss/settings/margins.scss';

.app-navbar__link-item,
.app-navbar__title-item {
  padding-left: $horizontal-margin-s;
  padding-right: $horizontal-margin-s;
  &--firs {
    padding-left: 0;
  }
  &--last {
    padding-right: 0;
  }
}

.app-navbar__title {
  display: flex;
  align-items: center;
}

.app-navbar__title-img {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-right: $horizontal-margin-s;
  display: block;
}

@media (max-width: $xs-max-size) {
  .app-navbar__title-img {
    height: 50px;
    width: 50px;
  }
}

.app-navbar__separator-item {
  width: 100%;
}
