@import '../../../assets/scss/settings/sizes.scss';
@import '../../../assets/scss/settings/colors.scss';
@import '../../../assets/scss/settings/margins.scss';

.app-navbar__toolbar-container {
  width: 100%;
}

.app-navbar__toolbar-content {
  display: flex;
  width: 100%;
  padding-right: 16px;
}

.app-navbar__link-item,
.app-navbar__title-item {
  padding-left: $horizontal-margin-s;
  padding-right: $horizontal-margin-s;
}

.app-navbar__link-item {
  &--title-hack {
    min-width: auto;
  }
}

.app-navbar__title {
  display: flex;
  align-items: center;
}

.app-navbar__title-img {
  height: 50px;
  object-fit: contain;
  margin-right: $horizontal-margin-s;
  display: block;
}

@media (max-width: $xs-max-size) {
  .app-navbar__title-img {
    height: 40px;
  }
}

.app-navbar__separator-item {
  flex: 1 1 auto;
}

.app-navbar__toolbar--small {
  height: 35px;
  padding-left: 8px;
  padding-right: 8px;
}

.app-navbar__slogan {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.app-navbar__primary-button-text {
  padding-right: 8px;
}

.app-navbar__primary-button-icon {
  height: 1rem !important;
  width: 1rem !important;
}

.app-navbar__icon--small {
  height: 1.2rem !important;
  width: 1.2rem !important;
}
