<mat-toolbar class="app-navbar__toolbar app-navbar__toolbar--small">
  <app-centered-layout class="app-navbar__toolbar-container">
    <div class="app-navbar__toolbar-content">
      <div class="app-navbar__separator-item"></div>
      <span class="app-navbar__link-item mat-small app-navbar__slogan">Let´s make some noise to help people</span>
      <div class="app-navbar__separator-item"></div>
      <a class="app-navbar__link-item" href="https://www.facebook.com/noisetohelp" target="_blank">
        <mat-icon class="app-navbar__icon app-navbar__icon--small" svgIcon="facebook" [inline]="true"></mat-icon>
      </a>
      <a class="app-navbar__link-item" href="https://www.instagram.com/noisetohelp" target="_blank">
        <mat-icon class="app-navbar__icon app-navbar__icon--small" svgIcon="instagram" [inline]="true"></mat-icon>
      </a>
    </div>
  </app-centered-layout>
</mat-toolbar>
<mat-toolbar color="primary" class="app-navbar__toolbar mat-elevation-z2">
  <app-centered-layout class="app-navbar__toolbar-container">
    <div class="app-navbar__toolbar-content">
      <button mat-icon-button fxHide fxShow.lt-md (click)="toggleMenu()">
        <mat-icon class="app-navbar__icon" svgIcon="hamburger"></mat-icon>
      </button>
      <a mat-button class="app-navbar__link-item app-navbar__link-item--title-hack" routerLink="/main">
        <div class="app-navbar__title">
          <img src="assets/images/logo-1-50.png" class="app-navbar__title-img" />
        </div>
      </a>
      <div class="app-navbar__menu-item" fxHide.lt-md>
        <a
          mat-button
          class="app-navbar__link-item"
          *ngFor="let subMenuItem of subMenuDefaultItems$ | async"
          [routerLink]="subMenuItem.routerLink"
        >
          <span>{{ subMenuItem.description }}</span>
        </a>
      </div>
      <div class="app-navbar__separator-item"></div>
      <div class="app-navbar__menu-item" fxHide.lt-md>
        <a
          mat-stroked-button
          class="app-navbar__link-item"
          *ngFor="let subMenuItem of subMenuPrimaryItems$ | async"
          [routerLink]="subMenuItem.routerLink"
        >
          <div class="app-navbar__primary-button-content">
            <span class="app-navbar__primary-button-text">{{ subMenuItem.description }}</span>
            <mat-icon class="app-navbar__primary-button-icon" svgIcon="heart" [inline]="true"></mat-icon>
          </div>
        </a>
      </div>
    </div>
  </app-centered-layout>
</mat-toolbar>
