<mat-toolbar color="primary">
  <button mat-icon-button fxHide fxShow.lt-md (click)="toggleMenu()">
    <mat-icon svgIcon="hamburger"></mat-icon>
  </button>
  <a class="app-navbar__link-item app-navbar__link-item--firs" routerLink="/main">
    <div class="app-navbar__title">
      <img src="assets/images/navbar-logo.png" class="app-navbar__title-img" />
      <span>Noise to help</span>
    </div>
  </a>
  <div class="app-navbar__menu-item" fxHide.lt-md>
    <a class="app-navbar__link-item app-navbar__link-item--button" routerLink="/about-us"><span>Quienes somos</span></a>
    <a class="app-navbar__link-item app-navbar__link-item--button" routerLink="/events"><span>Eventos</span></a>
    <a class="app-navbar__link-item app-navbar__link-item--button" routerLink="/contact"><span>Contacto</span></a>
  </div>
  <div class="app-navbar__separator-item"></div>
  <a class="app-navbar__link-item" routerLink="/facebook"><mat-icon svgIcon="facebook"></mat-icon></a>
  <a class="app-navbar__link-item app-navbar__link-item--last" routerLink="/instagram"
    ><mat-icon svgIcon="instagram"></mat-icon
  ></a>
</mat-toolbar>
