<mat-toolbar color="primary">
  <button mat-icon-button fxHide fxShow.lt-md (click)="toggleMenu()">
    <mat-icon svgIcon="hamburger"></mat-icon>
  </button>
  <a class="app-navbar__link-item" routerLink="/main">
    <div class="app-navbar__title">
      <img src="assets/images/logo-3-50-50.png" class="app-navbar__title-img" />
      <span>Noise to help</span>
    </div>
  </a>
  <div class="app-navbar__menu-item" fxHide.lt-md>
    <a
      mat-button
      class="app-navbar__link-item"
      *ngFor="let subMenuItem of subMenuItems$ | async"
      [routerLink]="subMenuItem.routerLink"
    >
      <span>{{ subMenuItem.description }}</span>
    </a>
  </div>
  <div class="app-navbar__separator-item"></div>
  <a class="app-navbar__link-item" routerLink="/facebook"><mat-icon svgIcon="facebook"></mat-icon></a>
  <a class="app-navbar__link-item" routerLink="/instagram"><mat-icon svgIcon="instagram"></mat-icon></a>
</mat-toolbar>
