<app-view>
  <div class="app-events-page">
    <app-paragraph-group>
      <app-paragraph>
        <app-title-text>Eventos</app-title-text>
      </app-paragraph>
    </app-paragraph-group>
    <div class="app-events-page__items-container">
      <div class="app-events-page__item">
        <app-card
          [title]="'Donación y recogida solidaria'"
          [subtitle]="'26-27/12/2020 - Casa de Cultura - Briones (La Rioja)'"
        >
          <app-paragraph>
            <app-img [src]="'./assets/images/donate-toys-2020/donate-toys-2020.jpg'"></app-img>
          </app-paragraph>
          <app-paragraph>Evento en apoyo a:</app-paragraph>
          <app-list-item-paragraph
            ><app-external-link-text link="https://www.aaps.es"
              >AAPS - Asociación de Apoyo al Pueblo Sirio</app-external-link-text
            ></app-list-item-paragraph
          >
          <app-list-item-paragraph
            ><app-external-link-text link="https://www.facebook.com/hospitalimaginario"
              >Hospital Imaginario</app-external-link-text
            ></app-list-item-paragraph
          >
          <app-paragraph>
            <app-internal-link-text link="/events/donate-toys-2020">+ Info</app-internal-link-text>
          </app-paragraph>
        </app-card>
      </div>
    </div>
  </div>
</app-view>
