@import '../../../assets/scss/settings/sizes.scss';
@import '../../../assets/scss/settings/margins.scss';

.app-card-l__avatar {
  background-size: cover;
}

.app-card-l__content {
  display: flex;
}

.app-card-l__description {
  padding-left: $horizontal-margin-m;
}
