<div class="app-carousel" #appCarousel>
  <div
    class="app-carousel__wrapper"
    *ngIf="!(loading$ | async)"
    [style.width.px]="carouselWidth$ | async"
    [style.height.px]="carouselHeight$ | async"
  >
    <div class="app-carousel__content">
      <div
        *ngFor="let item of items"
        class="app-carousel__item"
        [style.width.px]="carouselWidth$ | async"
        [style.height.px]="carouselHeight$ | async"
      >
        <ng-container
          [ngTemplateOutlet]="item.template"
          [style.width.px]="carouselWidth$ | async"
          [style.height.px]="carouselHeight$ | async"
        ></ng-container>
      </div>
    </div>
    <button class="app-carousel__previous-button" mat-mini-fab aria-label="Previous">
      <mat-icon svgIcon="arrow-left"></mat-icon>
    </button>
    <button class="app-carousel__next-button" mat-mini-fab aria-label="Next">
      <mat-icon svgIcon="arrow-right"></mat-icon>
    </button>
  </div>
</div>
