<app-view>
  <p>
    <b>Noise To Help</b> es una pequeña asociación que necesita de apoyo para poder crear y llevar a cabo nuestros
    diferentes proyectos y eventos solidarios. Para ello es fundamental la existencia de los socios, no obstante, si no
    te quieres hacer socio pero quieres colaborar con nosotros, tenemos tres diferentes posibilidades para que puedas
    hacerlo.
  </p>
  <p class="mat-subheading-2">DONACIÓN</p>
  <p>Si quieres realizar una transferencia directa a la asociación, nuestro número de cuenta es el siguiente:</p>
  <p class="app-typography--tabulated">- Destinatario: <b>ASOCIACION NOISE TO HELP</b></p>
  <p class="app-typography--tabulated">- Nº Cuenta IBAN: <b>ES09 0073 0100 5405 0608 6933</b> (Openbank)</p>
  <p class="app-typography--tabulated">- Concepto: Donación</p>
  <p>
    Si te es más cómodo también disponemos de una cuenta vía <b>PayPal</b> enlazada con la dirección de correo
    <a href="mailto:noisetohelp@protonmail.com"><u>noisetohelp@protonmail.com</u></a
    >.
  </p>
  <p>
    No obstante, cabe destacar que vía PayPal tu donativo nos llega íntegro pero que la plataforma nos aplica una
    comisión del 1,9% + 0,35 € por transacción, por lo que la cantidad final que nos llega será algo inferior a la que
    hayas emitido.
  </p>
  <p class="mat-subheading-2">TEAMING</p>
  <p>
    La web <a href="https://www.teaming.net/"><u>Teaming</u></a> es una herramienta online gratuita en la que se
    recaudan fondos para causas sociales a través de micro donaciones de 1€ al mes. Las micro donaciones son directas y
    sin comisiones por parte de la propia plataforma ni ningún sobrecoste o letra minúscula adicional, simplemente te
    creas una cuenta y con tu tarjeta de crédito o cuenta bancaria donas 1€ al mes en la causa que creas oportuna. En
    esta plataforma, aparte de poder recibir microdonaciones, tendremos un <b>grupo propio</b> con el que ayudaremos a
    diferentes causas sociales generadas por los beneficios de la venta del merchandising. Puedes consultar y unirte a
    nuestro grupo por aquí – añadir enlace –
  </p>
  <p>
    Cabe destacar que mediante estas donaciones en Teaming tendrás derecho a solicitar cada año un certificado de
    donaciones con derecho a <b>desgravaciones fiscales</b> en tu declaración de la renta, el cual se generará de forma
    automática y rápida.
  </p>
  <p>
    Si no te queda claro el funcionamiento de la web o sus fines sociales, te lo explican mejor ellos por
    <a routerLink="/questions"><u>aquí</u></a
    >.
  </p>
  <p class="mat-subheading-2">MERCHANDISING</p>
  <p>
    La tercera vía (pero no menos importante) es mediante la adquisición de nuestro merchandising. Te lo explicamos al
    detalle <a routerLink="/merchandising"><u>aquí</u></a
    >.
  </p>
  <p class="mat-subheading-2">¡ÚNETE, DIFUNDE Y PARTICIPA!</p>
  <p>
    Que no se nos olvide, colaborarás enormemente con nosotros simplemente entrando en nuestras redes sociales,
    compartiendo noticias y eventos, participando en nuestras actividades… y, en definitiva, divirtiéndote con todo este
    proceso comunitario.
  </p>
  <p>
    Si tienes cualquier consulta acerca de cualquiera de las posibilidades descritas no dudes en ponerte en contacto con
    nosotros en <a href="mailto:info@noisetohelp.org"><u>info@noisetohelp.org</u></a
    >.
  </p>
  <p class="mat-subheading-2">¡Muchas gracias por tu ayuda!</p>
</app-view>
