<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Colabora</app-title-text>
    </app-paragraph>
    <app-paragraph>
      <app-important-text>Noise To Help</app-important-text> es una pequeña asociación que necesita de apoyo para poder
      crear y llevar a cabo nuestros diferentes proyectos y eventos solidarios. Para ello es fundamental la existencia
      de los socios, no obstante, si no te quieres hacer socio pero quieres colaborar con nosotros, tenemos tres
      diferentes posibilidades para que puedas hacerlo.
    </app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph><app-subtitle-text>DONACIÓN</app-subtitle-text></app-paragraph>
    <app-paragraph
      >Si quieres realizar una transferencia directa a la asociación, nuestro número de cuenta es el
      siguiente:</app-paragraph
    >
    <app-list-item-paragraph>
      Destinatario: <app-important-text>ASOCIACION NOISE TO HELP</app-important-text>
    </app-list-item-paragraph>
    <app-list-item-paragraph>
      Nº Cuenta IBAN:<app-important-text> ES09 0073 0100 5405 0608 6933</app-important-text>
      (Openbank)</app-list-item-paragraph
    >
    <app-list-item-paragraph>Concepto: Donación</app-list-item-paragraph>
    <app-paragraph>
      Si te es más cómodo también disponemos de una cuenta vía <app-important-text>PayPal</app-important-text> enlazada
      con la dirección de correo
      <app-email-link-text email="noisetohelp@protonmail.com">noisetohelp@protonmail.com</app-email-link-text>.
    </app-paragraph>
    <app-paragraph>
      <app-external-link-text link="https://www.paypal.com/"
        ><img src="assets/images/paypal-logo.png"
      /></app-external-link-text>
    </app-paragraph>
    <app-paragraph>
      No obstante, cabe destacar que vía PayPal tu donativo nos llega íntegro pero que la plataforma nos aplica una
      comisión del 1,9% + 0,35 € por transacción, por lo que la cantidad final que nos llega será algo inferior a la que
      hayas emitido.
    </app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph><app-subtitle-text>TEAMING</app-subtitle-text></app-paragraph>
    <app-paragraph>
      La web <app-external-link-text link="https://www.teaming.net/">Teaming</app-external-link-text> es una herramienta
      online gratuita en la que se recaudan fondos para causas sociales a través de micro donaciones de 1€ al mes. Las
      micro donaciones son directas y sin comisiones por parte de la propia plataforma ni ningún sobrecoste o letra
      minúscula adicional, simplemente te creas una cuenta y con tu tarjeta de crédito o cuenta bancaria donas 1€ al mes
      en la causa que creas oportuna. En esta plataforma, aparte de poder recibir microdonaciones, tendremos un
      <app-important-text>grupo propio</app-important-text> con el que ayudaremos a diferentes causas sociales generadas
      por los beneficios de la venta del merchandising. Puedes consultar y unirte a nuestro grupo por
      <app-external-link-text link="https://www.teaming.net/">aquí</app-external-link-text>.
    </app-paragraph>
    <app-paragraph>
      <app-external-link-text link="https://www.teaming.net/"
        ><img src="assets/images/teaming-logo.png"
      /></app-external-link-text>
    </app-paragraph>
    <app-paragraph>
      Cabe destacar que mediante estas donaciones en Teaming tendrás derecho a solicitar cada año un certificado de
      donaciones con derecho a <app-important-text>desgravaciones fiscales</app-important-text> en tu declaración de la
      renta, el cual se generará de forma automática y rápida.
    </app-paragraph>
    <app-paragraph>
      Si no te queda claro el funcionamiento de la web o sus fines sociales, te lo explican mejor ellos por
      <app-internal-link-text link="/questions">aquí</app-internal-link-text>.
    </app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph><app-subtitle-text>MERCHANDISING</app-subtitle-text></app-paragraph>
    <app-paragraph>
      La tercera vía (pero no menos importante) es mediante la adquisición de nuestro merchandising. Te lo explicamos al
      detalle <app-internal-link-text link="/merchandising">aquí</app-internal-link-text>.
    </app-paragraph>
    <app-paragraph><app-encourage-text>¡ÚNETE, DIFUNDE Y PARTICIPA!</app-encourage-text></app-paragraph>
    <app-paragraph>
      Que no se nos olvide, colaborarás enormemente con nosotros simplemente entrando en nuestras redes sociales,
      compartiendo noticias y eventos, participando en nuestras actividades… y, en definitiva, divirtiéndote con todo
      este proceso comunitario.
    </app-paragraph>
    <app-paragraph>
      Si tienes cualquier consulta acerca de cualquiera de las posibilidades descritas no dudes en ponerte en contacto
      con nosotros en <app-email-link-text email="info@noisetohelp.org">info@noisetohelp.org</app-email-link-text>.
    </app-paragraph>
    <app-paragraph><app-encourage-text>¡Muchas gracias por tu ayuda!</app-encourage-text></app-paragraph>
  </app-paragraph-group>
</app-view>
