<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Playground</app-title-text>
    </app-paragraph>
  </app-paragraph-group>
  <div class="app-playground-page">
    <div class="app-playground-page__item">
      <div class="app-playground-page__item-title">
        <h1 class="mat-title">Typography</h1>
      </div>
      <div class="app-playground-page__item-content">
        <app-paragraph class="mat-display-4">.mat-display-4</app-paragraph>
        <app-paragraph class="mat-display-3">.mat-display-3</app-paragraph>
        <app-paragraph class="mat-display-2">.mat-display-2</app-paragraph>
        <app-paragraph class="mat-display-1">.mat-display-1</app-paragraph>
        <app-paragraph class="mat-p mat-headline">.mat-p, .mat-headline</app-paragraph>
        <app-paragraph class="mat-h2 mat-title">.mat-h2, .mat-title</app-paragraph>
        <app-paragraph class="mat-h3 mat-subheading-2">.mat-h3, .mat-subheading-2</app-paragraph>
        <app-paragraph class="mat-h4 mat-subheading-1">.mat-h4, .mat-subheading-1</app-paragraph>
        <app-paragraph class="mat-body mat-body-1">.mat-body, .mat-body-1</app-paragraph>
        <app-paragraph class="mat-body-strong mat-body-2">.mat-body-strong, .mat-body-2</app-paragraph>
        <app-paragraph class="mat-small mat-caption">.mat-small, .mat-caption</app-paragraph>
        <app-paragraph>Empty</app-paragraph>
      </div>
    </div>
    <div class="app-playground-page__item">
      <div class="app-playground-page__item-title">
        <h1 class="mat-title">Card</h1>
      </div>
      <div class="app-playground-page__item-content">
        <app-card
          [title]="'title'"
          [subtitle]="'subtitle'"
          [imagePath]="'https://homepages.cae.wisc.edu/~ece533/images/airplane.png'"
          [avatarPath]="'https://homepages.cae.wisc.edu/~ece533/images/arctichare.png'"
        >
          <app-paragraph>
            El ornitorrinco (Ornithorhynchus anatinus) es una especie de mamífero semiacuático endémico del este de
            Australia y de la isla de Tasmania.
          </app-paragraph>
          <app-paragraph>
            Es una de las cinco especies —junto con las cuatro de equidna— que perviven en la actualidad del orden de
            los monotremas, grupo que reúne a los únicos mamíferos actuales que ponen huevos en lugar de dar a luz crías
            vivas.
          </app-paragraph>
          <app-paragraph
            >Es el único representante vivo de la familia Ornithorhynchidae y del género Ornithorhynchus.</app-paragraph
          >
        </app-card>
      </div>
    </div>
    <div class="app-playground-page__item">
      <div class="app-playground-page__item-title">
        <h1 class="mat-title">Alert</h1>
      </div>
      <div class="app-playground-page__item-content">
        <app-alert>Default</app-alert>
        <app-alert type="info">Info</app-alert>
      </div>
    </div>
  </div>
</app-view>
