<app-view>
  <div class="app-playground-page">
    <h1 class="mat-headline">Playground</h1>
    <div class="app-playground-page__item">
      <div class="app-playground-page__item-title">
        <h1 class="mat-title">Typography</h1>
      </div>
      <div class="app-playground-page__item-content">
        <p class="mat-display-4">.mat-display-4</p>
        <p class="mat-display-3">.mat-display-3</p>
        <p class="mat-display-2">.mat-display-2</p>
        <p class="mat-display-1">.mat-display-1</p>
        <p class="mat-p mat-headline">.mat-p, .mat-headline</p>
        <p class="mat-h2 mat-title">.mat-h2, .mat-title</p>
        <p class="mat-h3 mat-subheading-2">.mat-h3, .mat-subheading-2</p>
        <p class="mat-h4 mat-subheading-1">.mat-h4, .mat-subheading-1</p>
        <p class="mat-body mat-body-1">.mat-body, .mat-body-1</p>
        <p class="mat-body-strong mat-body-2">.mat-body-strong, .mat-body-2</p>
        <p class="mat-small mat-caption">.mat-small, .mat-caption</p>
        <p>Empty</p>
      </div>
    </div>
  </div>
</app-view>
