<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Teaming</app-title-text>
    </app-paragraph>
    <app-paragraph>Actualmente estamos trabajando en crear un grupo propio en la plataforma.</app-paragraph>
    <app-paragraph>Esperamos tenerlo operativo en las próximas semanas.</app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-under-construction></app-under-construction>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph
      >De todas maneras, podéis acceder a la herramienta para uniros a otros grupos en el siguiente
      enlace:</app-paragraph
    >
    <app-paragraph
      ><app-external-link-text link="https://www.teaming.net/"
        ><img src="assets/images/teaming-logo.png" /></app-external-link-text
    ></app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph><app-encourage-text>Sentimos las molestias.</app-encourage-text></app-paragraph>
  </app-paragraph-group>
</app-view>
