@import '../assets/scss/settings/breaking-sizes.scss';
@import '../assets/scss/settings/margins.scss';

.app-root__navbar {
  height: 64px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: $xs-max-size) {
  .app-root__navbar {
    height: 56px;
  }
}

.app-root__content {
  padding-top: 64px;
}

@media (max-width: $xs-max-size) {
  .app-root__content {
    padding-top: 56px;
  }
}
