<app-view>
  <app-paragraph>
    <app-title-text>Eventos</app-title-text>
  </app-paragraph>
  <div class="app-events-page">
    <div *ngIf="(mediaQuery$ | async) === 1">
      <app-card
        *ngFor="let event of events$ | async"
        class="app-events-page__card"
        [title]="event.title"
        [subtitle]="event.subtitle"
        [imagePath]="event.imagePath"
        [avatarPath]="event.avatarPath"
      >
        <app-paragraph *ngFor="let descriptionItem of event.description">{{ descriptionItem }}</app-paragraph>
      </app-card>
    </div>
    <div *ngIf="(mediaQuery$ | async) !== 1">
      <app-card-l
        *ngFor="let event of events$ | async"
        class="app-events-page__card"
        [title]="event.title"
        [subtitle]="event.subtitle"
        [imagePath]="event.imagePath"
        [avatarPath]="event.avatarPath"
      >
        <app-paragraph *ngFor="let descriptionItem of event.description">{{ descriptionItem }}</app-paragraph>
      </app-card-l>
    </div>
  </div>
</app-view>
