<div class="app-shell">
  <div class="app-shell__navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="app-shell__content">
    <mat-sidenav-container class="app-shell__sidenav-container">
      <mat-sidenav
        class="app-shell__sidenav"
        [opened]="sidenavOpened"
        (openedChange)="onSidenavOpenedChange($event)"
        [autoFocus]="false"
      >
        <div class="app-shell__sidenav-content">
          <a
            class="app-shell__sidenav-content-item"
            mat-button
            *ngFor="let subMenuItem of subMenuItems$ | async"
            [routerLink]="subMenuItem.routerLink"
            (click)="linkClicked()"
          >
            <span>{{ subMenuItem.description }}</span>
          </a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <ng-content></ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
