@import '../../../assets/scss/settings/sizes.scss';
@import '../../../assets/scss/settings/margins.scss';
@import '../../../assets/scss/settings/colors.scss';

.app-shell {
  height: 100%;
}

.app-shell__navbar {
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: $xs-max-size) {
  .app-shell__navbar {
    height: 56px;
  }
}

.app-shell__content {
  height: 100%;
  padding-top: 99px;
}

@media (max-width: $xs-max-size) {
  .app-shell__content {
    padding-top: 91px;
  }
}

.app-shell__sidenav-container {
  height: 100%;
}

.app-shell__sidenav {
  min-width: 260px;
}

.app-shell__sidenav-content-item {
  display: block;
  text-align: left;
}

.app-shell__main-content {
  display: flex;
  flex-direction: column;
}

.app-shell__main-content-content {
  flex: 1 1 auto;
}

.app-shell__main-content-footer {
  padding: 0 $horizontal-margin-xl $vertica-margin-l $horizontal-margin-xl;
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: $sm-max-size) {
  .app-shell__main-content-footer {
    padding: 0 $horizontal-margin-l $vertica-margin-m $horizontal-margin-l;
  }
}

.app-shell__main-content-footer-item {
  padding-left: $horizontal-margin-l;
}

@media (max-width: $sm-max-size) {
  .app-shell__main-content-footer-item {
    padding-left: $horizontal-margin-m;
  }
}

.app-shell__primary-button-text {
  padding-right: 8px;
}

.app-shell__primary-button-icon {
  height: 1rem !important;
  width: 1rem !important;
}
