@import '../../../assets/scss/settings/breaking-sizes.scss';
@import '../../../assets/scss/settings/margins.scss';
@import '../../../assets/scss/settings/colors.scss';

.app-shell {
  height: 100%;
}

.app-shell__navbar {
  height: 64px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: $xs-max-size) {
  .app-shell__navbar {
    height: 56px;
  }
}

.app-shell__content {
  height: 100%;
  padding-top: 88px;
}

@media (max-width: $xs-max-size) {
  .app-shell__content {
    padding-top: 80px;
  }
}

.app-shell__sidenav-container {
  height: 100%;
}

.app-shell__sidenav {
  min-width: 260px;
}

.app-shell__sidenav-content-item {
  display: block;
  text-align: left;
}
