<div class="app-shell">
  <div class="app-shell__navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="app-shell__content">
    <mat-sidenav-container class="app-shell__sidenav-container">
      <mat-sidenav
        class="app-shell__sidenav"
        [opened]="sidenavOpened"
        (openedChange)="onSidenavOpenedChange($event)"
        [autoFocus]="false"
      >
        <div class="app-shell__sidenav-content">
          <a class="app-shell__sidenav-content-item" mat-button [routerLink]="'/main'" (click)="linkClicked()">
            <span>Inicio</span>
          </a>
          <ng-container *ngFor="let subMenuItem of subMenuItems$ | async">
            <a
              *ngIf="subMenuItem.type === 'default'"
              class="app-shell__sidenav-content-item"
              mat-button
              [routerLink]="subMenuItem.routerLink"
              (click)="linkClicked()"
            >
              <span>{{ subMenuItem.description }}</span>
            </a>
            <a
              *ngIf="subMenuItem.type === 'primary'"
              class="app-shell__sidenav-content-item"
              mat-button
              [routerLink]="subMenuItem.routerLink"
              (click)="linkClicked()"
            >
              <div class="app-shell__primary-button-content">
                <span class="app-shell__primary-button-text">{{ subMenuItem.description }}</span>
                <mat-icon class="app-shell__primary-button-icon" svgIcon="heart" [inline]="true"></mat-icon>
              </div>
            </a>
          </ng-container>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="app-shell__main-content" #mainContent>
        <div class="app-shell__main-content-content">
          <ng-content></ng-content>
        </div>
        <div class="app-shell__main-content-footer">
          <app-signature></app-signature>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
