<app-view>
  <app-paragraph>
    <app-title-text>Merchandising</app-title-text>
  </app-paragraph>
  <app-paragraph>
    Una importante vía para colaborar con nosotros es mediante el
    <app-important-text>merchandising solidario</app-important-text> de la asociación. Este merchandising será realizado
    en su totalidad por la gente de
    <app-external-link-text link="https://camisetas-ahora.com/">Camisetas Ahora</app-external-link-text> desde Logroño
    (La Rioja) los cuales, aparte de hacer un trabajo increíble, colaboran con nosotros y nos echan un cable con la
    realización y venta final del merchan.
  </app-paragraph>
  <app-paragraph><app-subtitle-text>CAMISETA NEGRA NOISE TO HELP</app-subtitle-text></app-paragraph>
  <app-paragraph>Precio: 15 €</app-paragraph>
  <app-paragraph>Gastos de envío (península y baleares): 3€ ordinario / 5€ certificada</app-paragraph>
  <app-paragraph>
    Con la cami original de la asociación los principales beneficios irán destinados íntegramente nuestra cuenta
    específica –añadir enlace– en la plataforma Teaming desde la cual se donará mensualmente una cantidad fija hacia
    diferentes causas sociales centradas en familias y personas particulares que necesiten recaudar fondos debido a
    situaciones de imperiosa necesidad. El resto de los beneficios serán invertidos en el coste del propio merchandising
    y, en caso de existir excedentes, estos serán incorporados directamente al funcionamiento interno de la asociación.
  </app-paragraph>
  <app-paragraph>
    Todo ello lo tienes disponible en la tienda física de
    <app-external-link-text link="https://camisetas-ahora.com/">Camisetas Ahora</app-external-link-text> o nos lo puedes
    pedir por mail al correo
    <app-email-link-text email="info@noisetohelp.org">info@noisetohelp.org</app-email-link-text> con las siguientes
    instrucciones:
  </app-paragraph>
  <app-list-item-paragraph>Nombre y apellidos</app-list-item-paragraph>
  <app-list-item-paragraph>Dirección de envío</app-list-item-paragraph>
  <app-list-item-paragraph>Talla y modelo</app-list-item-paragraph>
  <app-list-item-paragraph>Justificante de transferencia bancaria o justificante de PayPal</app-list-item-paragraph>
  <app-paragraph>La transferencia debe realizarse con los siguientes datos:</app-paragraph>
  <app-list-item-paragraph
    >Destinatario: <app-important-text>ASOCIACION NOISE TO HELP</app-important-text></app-list-item-paragraph
  >
  <app-list-item-paragraph>
    Nº Cuenta IBAN:
    <app-important-text>ES09 0073 0100 5405 0608 6933</app-important-text> (Openbank)
  </app-list-item-paragraph>
  <app-list-item-paragraph>Concepto: Pedido (+ Nombre y Apellidos)</app-list-item-paragraph>
  <app-paragraph>Si prefieres el pago vía PayPal hay que realizarlo con los siguientes datos:</app-paragraph>
  <app-list-item-paragraph>
    Email: <app-email-link-text email="noisetohelp@protonmail.com">noisetohelp@protonmail.com</app-email-link-text>
  </app-list-item-paragraph>
  <app-list-item-paragraph>Concepto: Pedido (+ Nombre y Apellidos)</app-list-item-paragraph>
  <app-paragraph>
    Una vez recibida la información de la solicitud te enviaremos un email confirmando la correcta recepción de la
    misma.
  </app-paragraph>
  <app-paragraph><i>¡Muchas gracias por colaborar con nosotros!</i></app-paragraph>
</app-view>
