<app-view>
  <p>
    Una importante vía para colaborar con nosotros es mediante el <b>merchandising solidario</b> de la asociación. Este
    merchandising será realizado en su totalidad por la gente de
    <a href="https://camisetas-ahora.com/" target="_blank"><u>Camisetas Ahora</u></a> desde Logroño (La Rioja) los
    cuales, aparte de hacer un trabajo increíble, colaboran con nosotros y nos echan un cable con la realización y venta
    final del merchan.
  </p>
  <p class="mat-subheading-2">CAMISETA NEGRA NOISE TO HELP</p>
  <p>Precio: 15 €</p>
  <p>Gastos de envío (península y baleares): 3€ ordinario / 5€ certificada</p>
  <p>
    Con la cami original de la asociación los principales beneficios irán destinados íntegramente nuestra cuenta
    específica –añadir enlace– en la plataforma Teaming desde la cual se donará mensualmente una cantidad fija hacia
    diferentes causas sociales centradas en familias y personas particulares que necesiten recaudar fondos debido a
    situaciones de imperiosa necesidad. El resto de los beneficios serán invertidos en el coste del propio merchandising
    y, en caso de existir excedentes, estos serán incorporados directamente al funcionamiento interno de la asociación.
  </p>
  <p>
    Todo ello lo tienes disponible en la tienda física de
    <a href="https://camisetas-ahora.com/" target="_blank"><u>Camisetas Ahora</u></a> o nos lo puedes pedir por mail al
    correo <a href="mailto:info@noisetohelp.org"><u>info@noisetohelp.org</u></a> con las siguientes instrucciones:
  </p>
  <p class="app-typography--tabulated">- Nombre y apellidos</p>
  <p class="app-typography--tabulated">- Dirección de envío</p>
  <p class="app-typography--tabulated">- Talla y modelo</p>
  <p class="app-typography--tabulated">- Justificante de transferencia bancaria o justificante de PayPal</p>
  <p>La transferencia debe realizarse con los siguientes datos:</p>
  <p class="app-typography--tabulated">- Destinatario: <b>ASOCIACION NOISE TO HELP</b></p>
  <p class="app-typography--tabulated">- Nº Cuenta IBAN: <b>ES09 0073 0100 5405 0608 6933</b> (Openbank)</p>
  <p class="app-typography--tabulated">- Concepto: Pedido (+ Nombre y Apellidos)</p>
  <p>Si prefieres el pago vía PayPal hay que realizarlo con los siguientes datos:</p>
  <p class="app-typography--tabulated">
    - Email: <a href="mailto:noisetohelp@protonmail.com"><u>noisetohelp@protonmail.com</u></a>
  </p>
  <p class="app-typography--tabulated">- Concepto: Pedido (+ Nombre y Apellidos)</p>
  <p>
    Una vez recibida la información de la solicitud te enviaremos un email confirmando la correcta recepción de la
    misma.
  </p>
  <p><i>¡Muchas gracias por colaborar con nosotros!</i></p>
</app-view>
