<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Merchandising</app-title-text>
    </app-paragraph>
    <app-paragraph>
      Una importante vía para colaborar con nosotros es mediante el merchandising solidario de la asociación. Este
      merchandising será realizado en su totalidad por la gente de
      <app-external-link-text link="https://camisetas-ahora.com/">Camisetas Ahora</app-external-link-text> y
      <app-external-link-text link="https://chicxsdelacalle.com/">Chicxs de la Calle</app-external-link-text>
      desde Logroño (La Rioja) los cuales, aparte de hacer un trabajo increíble, colaboran con nosotros y nos echan un
      cable con la realización y venta final del merchan.
    </app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph>
      <app-subtitle-text>CAMISETA NEGRA NOISE TO HELP</app-subtitle-text>
    </app-paragraph>
    <app-paragraph>
      <app-img [src]="'./assets/images/t-shirt-noise-to-help.jpg'"></app-img>
    </app-paragraph>
    <app-paragraph>
      <app-important-text>Precio: 15 €</app-important-text>
    </app-paragraph>
    <app-paragraph> En caso de envío (península y baleares): +3 € envío ordinario </app-paragraph>
    <app-paragraph> ¡En Logroño te lo acercamos de gratis! </app-paragraph>
    <app-paragraph> Por aquí os dejamos la información de las tallas: </app-paragraph>
    <app-list-item-paragraph>
      Mujeres
      <app-download-link-text
        link="/assets/documents/t-shirt-noise-to-help-woman-sizes.pdf"
        fileName="Catalogo tallas camiseta Noise To Help (mujer).pdf"
        >(+info)</app-download-link-text
      >
    </app-list-item-paragraph>
    <app-paragraph>
      <table mat-table [dataSource]="womanSizes$ | async" class="app-merchandising-page__table mat-elevation-z6">
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">{{ item.description }}</td>
        </ng-container>
        <ng-container matColumnDef="s">
          <th mat-header-cell *matHeaderCellDef>S</th>
          <td mat-cell *matCellDef="let item">{{ item.s }} cm</td>
        </ng-container>
        <ng-container matColumnDef="m">
          <th mat-header-cell *matHeaderCellDef>M</th>
          <td mat-cell *matCellDef="let item">{{ item.m }} cm</td>
        </ng-container>
        <ng-container matColumnDef="l">
          <th mat-header-cell *matHeaderCellDef>L</th>
          <td mat-cell *matCellDef="let item">{{ item.l }} cm</td>
        </ng-container>
        <ng-container matColumnDef="xl">
          <th mat-header-cell *matHeaderCellDef>XL</th>
          <td mat-cell *matCellDef="let item">{{ item.xl }} cm</td>
        </ng-container>
        <ng-container matColumnDef="xxl">
          <th mat-header-cell *matHeaderCellDef>XXL</th>
          <td mat-cell *matCellDef="let item">{{ item.xxl }} cm</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="womanTableDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: womanTableDisplayedColumns"></tr>
      </table>
    </app-paragraph>
    <app-list-item-paragraph>
      Hombres
      <app-download-link-text
        link="/assets/documents/t-shirt-noise-to-help-man-sizes.pdf"
        fileName="Catalogo tallas camiseta Noise To Help (hombres).pdf"
        >(+info)</app-download-link-text
      >
    </app-list-item-paragraph>
    <app-paragraph>
      <table mat-table [dataSource]="manSizes$ | async" class="app-merchandising-page__table mat-elevation-z6">
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">{{ item.description }}</td>
        </ng-container>
        <ng-container matColumnDef="xs">
          <th mat-header-cell *matHeaderCellDef>XS</th>
          <td mat-cell *matCellDef="let item">{{ item.xs }} cm</td>
        </ng-container>
        <ng-container matColumnDef="s">
          <th mat-header-cell *matHeaderCellDef>S</th>
          <td mat-cell *matCellDef="let item">{{ item.s }} cm</td>
        </ng-container>
        <ng-container matColumnDef="m">
          <th mat-header-cell *matHeaderCellDef>M</th>
          <td mat-cell *matCellDef="let item">{{ item.m }} cm</td>
        </ng-container>
        <ng-container matColumnDef="l">
          <th mat-header-cell *matHeaderCellDef>L</th>
          <td mat-cell *matCellDef="let item">{{ item.l }} cm</td>
        </ng-container>
        <ng-container matColumnDef="xl">
          <th mat-header-cell *matHeaderCellDef>XL</th>
          <td mat-cell *matCellDef="let item">{{ item.xl }} cm</td>
        </ng-container>
        <ng-container matColumnDef="xxl">
          <th mat-header-cell *matHeaderCellDef>XXL</th>
          <td mat-cell *matCellDef="let item">{{ item.xxl }} cm</td>
        </ng-container>
        <ng-container matColumnDef="xxxl">
          <th mat-header-cell *matHeaderCellDef>3XL</th>
          <td mat-cell *matCellDef="let item">{{ item.xxxl }} cm</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="manTableDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: manTableDisplayedColumns"></tr>
      </table>
    </app-paragraph>
    <app-paragraph>
      La gran mayoría de los beneficios obtenidos con las camiseta irán destinados a nuestra cuenta en la plataforma
      <app-external-link-text link="https://www.teaming.net/noisetohelp">Teaming</app-external-link-text>
      desde la cual se donará mensualmente una cantidad fija hacia diferentes causas sociales centradas en familias y
      personas particulares que necesiten recaudar fondos debido a situaciones de imperiosa necesidad. El resto de los
      beneficios serán invertidos en el coste del propio merchandising y, en caso de existir excedentes, estos serán
      incorporados directamente al funcionamiento interno de la asociación.
    </app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph>
      Todo ello nos lo puedes pedir por mail al correo
      <app-email-link-text email="info@noisetohelp.org">info@noisetohelp.org</app-email-link-text> con las siguientes
      instrucciones:
    </app-paragraph>
    <app-list-item-paragraph>Nombre y apellidos</app-list-item-paragraph>
    <app-list-item-paragraph>Dirección de envío</app-list-item-paragraph>
    <app-list-item-paragraph
      >Talla y modelo (Consultar disponibilidad de tallas antes de hacer el pedido)</app-list-item-paragraph
    >
    <app-list-item-paragraph>Justificante de transferencia bancaria o justificante de PayPal</app-list-item-paragraph>
    <app-paragraph> La transferencia debe realizarse con los siguientes datos: </app-paragraph>
    <app-list-item-paragraph>
      Destinatario:
      <app-important-text>ASOCIACION NOISE TO HELP</app-important-text>
    </app-list-item-paragraph>
    <app-list-item-paragraph>
      Nº Cuenta IBAN:
      <app-important-text>ES09 0073 0100 5405 0608 6933</app-important-text> (Openbank)
    </app-list-item-paragraph>
    <app-list-item-paragraph>Concepto: Pedido (+ Nombre y Apellidos)</app-list-item-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph>
      Si prefieres el pago vía PayPal, o con tarjeta de crédito sin tener cuenta en PayPal, simplemente señala si lo
      quieres con gastos de envío y realiza todo el proceso desde el siguiente enlace:
    </app-paragraph>
    <app-paragraph>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" [value]="paypalFormValue$ | async" />
        <input
          type="image"
          src="./assets/images/paypal-pay.png"
          border="0"
          name="submit"
          alt="PayPal, la forma rápida y segura de pagar en Internet."
        />
        <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1" />
      </form>
      <form [formGroup]="shippingForm">
        <mat-checkbox formControlName="withShipping">Con gatos de envío</mat-checkbox>
      </form>
    </app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph>
      Una vez recibida la información de la solicitud te enviaremos un email confirmando la correcta recepción de la
      misma.
    </app-paragraph>
    <app-paragraph><app-encourage-text>¡Muchas gracias por colaborar con nosotros!</app-encourage-text></app-paragraph>
  </app-paragraph-group>
</app-view>
