<app-view>
  <p>
    <b>Noise To Help</b> somos una asociación sin ánimo de lucro cuyo principal objetivo es el de intentar conseguir
    diferentes recursos económicos y materiales con la única finalidad de <b>ayudar</b> lo máximo posible a las familias
    más necesitadas.
  </p>
  <p>
    Todo ello lo realizamos mediante la creación de diferentes eventos enfocados y centrados, en su gran mayoría, en el
    ámbito de la <b>música rock</b> en todas sus diferentes variantes (metal, hardcore, alternativo…) y cuyos beneficios
    irán donados íntegramente a fundaciones y organizaciones que harán llegar dichos recursos a su destinatario final.
  </p>
  <p>
    Cabe destacar que en la asociación habrá hueco para otro tipo de actividades y ejercicios solidarios que no tengan
    especificidad musical, aunque serán las realizadas con carácter complementario al fundamento original de la
    asociación.
  </p>
  <p>
    En cada una de las actividades o proyectos que realizamos quedará fijado claramente el objetivo que queremos
    conseguir (bienes económicos o materiales) y la <b>ONG a la que irá destinado</b>. Esta ONG irá variando según el
    objetivo que la asociación ponga en cada caso (ayuda a enfermos, exclusión social, cooperación internacional,
    investigación…)
  </p>
  <p>
    Por otra parte, los principales beneficios obtenidos de la venta del merchandising propio irán directos a nuestra
    cuenta específica en la <b>plataforma Teaming</b> desde la cual se donará mensualmente una cantidad fija hacia
    diferentes causas sociales centradas en familias y personas particulares que necesiten recaudar fondos debido a
    situaciones de imperiosa necesidad.
  </p>
  <p>
    Si quieres saber más sobre la asociación no dudes en pasarte por nuestra sección de preguntas frecuentes – añadir
    enlace – o por alguna de nuestras diferentes redes sociales.
  </p>
  <p>¡Por aquí te esperamos!</p>
  <p>Let´s make some noise to help people - NTH</p>
</app-view>
