<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-title-text>Quienes somos</app-title-text>
    </app-paragraph>
    <app-paragraph>
      <app-important-text>Noise To Help</app-important-text> somos una asociación sin ánimo de lucro cuyo principal
      objetivo es el de intentar conseguir diferentes recursos económicos y materiales con la única finalidad de
      <app-important-text>ayudar</app-important-text> lo máximo posible a las familias más necesitadas.
    </app-paragraph>
    <app-paragraph>
      Todo ello lo realizamos mediante la creación de diferentes eventos enfocados y centrados, en su gran mayoría, en
      el ámbito de la <app-important-text>música rock</app-important-text> en todas sus diferentes variantes (metal,
      hardcore, alternativo…) y cuyos beneficios irán donados íntegramente a fundaciones y organizaciones que harán
      llegar dichos recursos a su destinatario final.
    </app-paragraph>
    <app-paragraph>
      Cabe destacar que en la asociación habrá hueco para otro tipo de actividades y ejercicios solidarios que no tengan
      especificidad musical, aunque serán las realizadas con carácter complementario al fundamento original de la
      asociación.
    </app-paragraph>
    <app-paragraph>
      En cada una de las actividades o proyectos que realizamos quedará fijado claramente el objetivo que queremos
      conseguir (bienes económicos o materiales) y la
      <app-important-text>ONG a la que irá destinado</app-important-text>. Esta ONG irá variando según el objetivo que
      la asociación ponga en cada caso (ayuda a enfermos, exclusión social, cooperación internacional, investigación…)
    </app-paragraph>
    <app-paragraph>
      Por otra parte, los principales beneficios obtenidos de la venta del merchandising propio irán directos a nuestra
      cuenta específica en la plataforma
      <app-external-link-text link="https://www.teaming.net/noisetohelp">Teaming</app-external-link-text>
      desde la cual se donará mensualmente una cantidad fija hacia diferentes causas sociales centradas en familias y
      personas particulares que necesiten recaudar fondos debido a situaciones de imperiosa necesidad.
    </app-paragraph>
    <app-paragraph>
      Si quieres saber más sobre la asociación no dudes en pasarte por nuestra sección de
      <app-internal-link-text link="/questions">preguntas frecuentes (FAQ)</app-internal-link-text> o por alguna de
      nuestras diferentes redes sociales.
    </app-paragraph>
    <app-paragraph><app-encourage-text>¡Por aquí te esperamos!</app-encourage-text></app-paragraph>
    <app-paragraph><app-encourage-text>Let´s make some noise to help people - NTH</app-encourage-text></app-paragraph>
  </app-paragraph-group>
</app-view>
