@import '../../../assets/scss/settings/breaking-sizes.scss';
@import '../../../assets/scss/settings/margins.scss';
@import '../../../assets/scss/settings/colors.scss';

.app-responsive-banner-container {
  position: relative;
}

.app-responsive-banner-container__background {
  background-color: $primary-500-color;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  background-image: url('../../../assets/images/banner-2-2560-1922.jpg');
}

@media (max-width: $md-max-size) {
  .app-responsive-banner-container__background {
    background-image: url('../../../assets/images/banner-2-1332-1000.jpg');
  }
}

@media (max-width: $sm-max-size) {
  .app-responsive-banner-container__background {
    background-image: url('../../../assets/images/banner-2-960-721.jpg');
  }
}
