// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
$app-primary-palette: (
  100: $primary-100-color,
  200: $primary-200-color,
  500: $primary-500-color,
  700: $primary-700-color,
  // For slide toggle,
  contrast:
    (
      100: $dark-primary-text,
      500: $primary-500-color-contrast,
      700: $light-primary-text,
    ),
);
$app-primary: mat-palette($app-primary-palette);

$app-accent-palette: (
  100: $accent-100-color,
  200: $accent-200-color,
  500: $accent-500-color,
  700: $accent-700-color,
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    700: $light-primary-text,
  ),
);
$app-accent: mat-palette($app-accent-palette);

$app-warn-palette: (
  100: $warn-100-color,
  200: $warn-200-color,
  500: $warn-500-color,
  700: $warn-700-color,
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    700: $light-primary-text,
  ),
);
$app-warn: mat-palette($app-warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-dark-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
