$background-300-color: #424242;
$background-500-color: #303030;
$background-color-contrast: #fff;
$primary-100-color: #c4b3b3;
$primary-300-color: #660000;
$primary-500-color: #3a0000;
$primary-700-color: #250000;
$primary-color-contrast: #fff;
