$primary-100-color: #c4b3b3;
$primary-200-color: #3a0000;
$primary-500-color: #3a0000;
$primary-700-color: #250000;

$accent-100-color: #d7d7d7;
$accent-200-color: #797979;
$accent-500-color: #797979;
$accent-700-color: #5c5c5c;

$warn-100-color: #ffb3b3;
$warn-200-color: #ff0000;
$warn-500-color: #ff0000;
$warn-700-color: #ff0000;

$primary-color-contrast: #fff;
