$primary-100-color: #d9bab9;
$primary-200-color: #801815;
$primary-500-color: #801815;
$primary-700-color: #630e0c;

$accent-100-color: #cfd8dc;
$accent-200-color: #607d8b;
$accent-500-color: #607d8b;
$accent-700-color: #44606e;

$warn-100-color: #fcc7c3;
$warn-200-color: #f44336;
$warn-500-color: #f44336;
$warn-700-color: #ef2c22;

$primary-500-color-contrast: white;
