$horizontal-margin-xl: 100px;

$vertica-margin-l: 20px;
$horizontal-margin-l: 50px;

$vertica-margin-m: 20px;
$horizontal-margin-m: 16px;

$vertica-margin-s: 8px;
$horizontal-margin-s: 8px;

$vertica-margin-xs: 4px;
$horizontal-margin-xs: 4px;

$border-radius-m: 4px;
