<app-view>
  <app-paragraph-group>
    <app-paragraph>
      <app-important-text>Noise To Help</app-important-text> somos una asociación sin ánimo de lucro cuyo principal
      objetivo es el de intentar conseguir diferentes recursos económicos y materiales con la única finalidad de
      <app-important-text>ayudar</app-important-text> lo máximo posible a las familias más necesitadas.
    </app-paragraph>
    <app-paragraph>
      Todo ello lo realizamos mediante la creación de diferentes eventos enfocados y centrados, en su gran mayoría, en
      el ámbito de la <app-important-text>música rock</app-important-text> en todas sus diferentes variantes (metal,
      hardcore, alternativo…) y cuyos beneficios irán donados íntegramente a fundaciones y organizaciones que harán
      llegar dichos recursos a su destinatario final.
    </app-paragraph>
    <app-paragraph>
      Cabe destacar que en la asociación habrá hueco para otro tipo de actividades y ejercicios solidarios que no tengan
      especificidad musical, aunque serán las realizadas con carácter complementario al fundamento original de la
      asociación.
    </app-paragraph>
    <app-paragraph>
      En cada una de las actividades o proyectos que realizamos quedará fijado claramente el objetivo que queremos
      conseguir (bienes económicos o materiales) y la
      <app-important-text>ONG a la que irá destinado</app-important-text>. Esta ONG irá variando según el objetivo que
      la asociación ponga en cada caso (ayuda a enfermos, exclusión social, cooperación internacional, investigación…)
    </app-paragraph>
    <app-paragraph>
      Por otra parte, los principales beneficios obtenidos de la venta del merchandising propio irán directos a nuestra
      cuenta específica en la plataforma
      <app-external-link-text link="https://www.teaming.net/noisetohelp">Teaming</app-external-link-text>
      desde la cual se donará mensualmente una cantidad fija hacia diferentes causas sociales centradas en familias y
      personas particulares que necesiten recaudar fondos debido a situaciones de imperiosa necesidad.
    </app-paragraph>
    <app-paragraph>
      Si quieres saber más sobre la asociación no dudes en pasarte por nuestra sección de
      <app-internal-link-text link="/questions">preguntas frecuentes (FAQ)</app-internal-link-text> o por alguna de
      nuestras diferentes redes sociales.
    </app-paragraph>
    <app-paragraph><app-encourage-text>¡Por aquí te esperamos!</app-encourage-text></app-paragraph>
    <app-paragraph><app-encourage-text>Let´s make some noise to help people - NTH</app-encourage-text></app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <app-paragraph>
      <app-img [src]="'./assets/images/banner.jpg'"></app-img>
    </app-paragraph>
  </app-paragraph-group>
  <app-paragraph-group>
    <div>
      <app-card
        [title]="'Merchandising'"
        [subtitle]="'Camiseta negra Noise To Help'"
        [imagePath]="'./assets/images/main-t-shirt-noise-to-help.jpg'"
      >
        <app-paragraph>
          Una importante vía para colaborar con nosotros es mediante el merchandising solidario de la asociación. Este
          merchandising será realizado en su totalidad por la gente de
          <app-external-link-text link="https://camisetas-ahora.com/">Camisetas Ahora</app-external-link-text> y
          <app-external-link-text link="https://chicxsdelacalle.com/">Chicxs de la Calle</app-external-link-text>
          desde Logroño (La Rioja) los cuales, aparte de hacer un trabajo increíble, colaboran con nosotros y nos echan
          un cable con la realización y venta final del merchan.
        </app-paragraph>
        <app-paragraph>
          <app-internal-link-text link="/merchandising">+ Info</app-internal-link-text>
        </app-paragraph>
      </app-card>
    </div>
  </app-paragraph-group>
  <div class="app-main-page__events">
    <app-paragraph-group>
      <div class="app-main-page__events-items-container">
        <div class="app-main-page__events-item">
          <app-card
            [title]="'Donación y recogida solidaria'"
            [subtitle]="'26-27/12/2020 - Casa de Cultura - Briones (La Rioja)'"
          >
            <app-paragraph>
              <app-img [src]="'./assets/images/donate-toys-2020.jpg'"></app-img>
            </app-paragraph>
            <app-paragraph>Evento en apoyo a:</app-paragraph>
            <app-list-item-paragraph
              ><app-external-link-text link="https://www.aaps.es"
                >AAPS - Asociación de Apoyo al Pueblo Sirio</app-external-link-text
              ></app-list-item-paragraph
            >
            <app-list-item-paragraph
              ><app-external-link-text link="https://www.facebook.com/hospitalimaginario"
                >Hospital Imaginario</app-external-link-text
              ></app-list-item-paragraph
            >
          </app-card>
        </div>
      </div>
    </app-paragraph-group>
  </div>
</app-view>
