<app-view>
  <div class="app-main-page__view-content">
    <app-responsive-banner-container>
      <div class="app-main-page__main-content">
        <app-paragraph-group>
          <app-paragraph-l>
            <app-important-text>Noise To Help</app-important-text> somos una asociación sin ánimo de lucro cuyo
            principal objetivo es el de intentar conseguir diferentes recursos económicos y materiales con la única
            finalidad de <app-important-text>ayudar</app-important-text> lo máximo posible a las familias más
            necesitadas.
          </app-paragraph-l>
          <app-paragraph-l>
            Todo ello lo realizamos mediante la creación de diferentes eventos enfocados y centrados, en su gran
            mayoría, en el ámbito de la <app-important-text>música rock</app-important-text> en todas sus diferentes
            variantes (metal, hardcore, alternativo…) y cuyos beneficios irán donados íntegramente a fundaciones y
            organizaciones que harán llegar dichos recursos a su destinatario final.
          </app-paragraph-l>
          <app-paragraph-l>
            <app-internal-link-text link="/about-us">+ Info</app-internal-link-text>
          </app-paragraph-l>
        </app-paragraph-group>
      </div>
    </app-responsive-banner-container>
  </div>
</app-view>
