@import '../../../assets/scss/settings/sizes.scss';
@import '../../../assets/scss/settings/margins.scss';

.app-main-page__events-items-container {
  display: flex;
  flex-wrap: wrap;
}

.app-main-page__events-item {
  max-width: 50%;
}

@media (max-width: $sm-max-size) {
  .app-main-page__events-item {
    max-width: 100%;
  }
}
